{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">


    <!-- Title Page-->
    <title>VPMS - Add Vehicle</title>

    <!-- Fontfaces CSS-->
    <link href="{% static 'css/font-face.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static 'vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{% static 'vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/wow/animate.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/slick/slick.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'css/theme.css' %}" rel="stylesheet" media="all">
    <script type="text/javascript">
        function preventBack() {
            window.history.forward();
        }

        setTimeout("preventBack()", 0);

        window.onunload = function () { null };
    </script>
</head>
<body>
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
         {% include 'sidebar.html' %}
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            {% include 'header.html' %}

    <div class="mainparking" style="margin-top: 100px;">
        <div class="mainMap">
            <div classname="title" style="display:flex;justify-content: center;align-items: center;color: black;font-size: larger;">
                Parking Map
            </div>
            <div style="position:absolute; z-index:10px;">
                <div id='floor1' style="margin-top: 20px;display:flex;justify-content:left;align-items: center;flex-wrap: wrap;">
                </div>
            </div>
        </div>
    </div>
        
      

</body>


<script>
    previouslySelctedIndex=1;
    function insertCarToSlot(previouslySelctedIndex,currentSelectedIndex){
        const previousSlot=document.getElementById(`slot_${previouslySelctedIndex}`);
        const currentSlot=document.getElementById(`slot_${currentSelectedIndex}`);
        previousSlot.innerHTML=`<div 
                            style="background:black;
                            width:100px;height:100px;
                            color:white;
                            border:1px solid white;
                            display:flex;
                            justify-content:center;
                            align-items:center;">
                                ${previouslySelctedIndex}
                            <div/>`
        currentSlot.innerHTML=`<div 
                            style="background:black;
                            width:100px;height:100px;
                            color:white;
                            border:1px solid white;
                            display:flex;
                            justify-content:center;
                            align-items:center;">
                                <img id="c2" class="car" src="{% static 'images/car.png' %}" style="width:50px;height:90px"/>
                            <div/>`
        
    }
    for (let i = 1; i <= 18; i++) {
        const div = document.createElement('div');
        const floor1Div=document.getElementById('floor1');
        console.log(floor1Div)
        div.className = 'slot';
        div.id=`slot_${i}`;
        
        div.innerHTML = `<div 
                            style="background:black;
                            width:100px;height:100px;
                            color:white;
                            border:1px solid white;
                            display:flex;
                            justify-content:center;
                            align-items:center;">
                                ${i}
                            <div/>`;
        div.onclick = function() {
            alert(`Clicked on div ${i}!`);
            insertCarToSlot(previouslySelctedIndex,i)
            previouslySelctedIndex=i;

        };
        floor1Div.appendChild(div);
    }
</script>


</html>

{% endblock %}

<!-- <div style="margin-top: 227px;">
    <div class="slot" style="margin-left: 10px; width: 74px;"><img id="c10" style="margin-left: 0px;" class="car" src="{% static 'images/car2.png' %}"/></div>
    <div class="slot"><img id="c11" class="car" src="{% static 'images/car2.png' %}"/></div>
    <div class="slot"><img id="c12" class="car" src="{% static 'images/car2.png' %}"/></div>
    <div class="slot"><img id="c13" class="car" src="{% static 'images/car2.png' %}"/></div>
    <div class="slot"><img id="c14" class="car" src="{% static 'images/car2.png' %}"/></div>
    <div class="slot"><img id="c15" class="car" src="{% static 'images/car2.png' %}"/></div>
    <div class="slot"><img id="c16" class="car" src="{% static 'images/car2.png' %}"/></div>
    <div class="slot"><img id="c17" class="car" src="{% static 'images/car2.png' %}"/></div>
    <div class="slot" style="width: 74px;"><img id="c18" class="car" src="{% static 'images/car2.png' %}"/></div>
</div>

<div style="margin-top: 401px;">
    <div class="slot" style="margin-left: 10px; width: 74px;"><img id="c19" style="margin-left: 0px;" class="car" src="{% static 'images/car.png' %}"/></div>
    <div class="slot"><img id="c20" class="car" src="{% static 'images/car.png' %}"/></div>
    <div class="slot"><img id="c21" class="car" src="{% static 'images/car.png' %}"/></div>
    <div class="slot"><img id="c22" class="car" src="{% static 'images/car.png' %}"/></div>
    <div class="slot"><img id="c23" class="car" src="{% static 'images/car.png' %}"/></div>
    <div class="slot"><img id="c24" class="car" src="{% static 'images/car.png' %}"/></div>
    <div class="slot"><img id="c25" class="car" src="{% static 'images/car.png' %}"/></div>
    <div class="slot"><img id="c26" class="car" src="{% static 'images/car.png' %}"/></div>
    <div class="slot" style="width: 74px;"><img id="c27" class="car" src="{% static 'images/car.png' %}"/></div>
</div>

<div style="margin-top: 598px;">
    <div class="slot" style="margin-left: 10px; width: 74px;"><img id="c28" style="margin-left: 0px;" class="car" src="{% static 'images/car2.png' %}"/></div>
    <div class="slot"><img id="c29" class="car" src="{% static 'images/car2.png' %}"/></div>
    <div class="slot"><img id="c30" class="car" src="{% static 'images/car2.png' %}"/></div>
    <div class="slot"><img id="c31" class="car" src="{% static 'images/car2.png' %}"/></div>
    <div class="slot"><img id="c32" class="car" src="{% static 'images/car2.png' %}"/></div>
    <div class="slot"><img id="c33" class="car" src="{% static 'images/car2.png' %}"/></div>
    <div class="slot"><img id="c34" class="car" src="{% static 'images/car2.png' %}"/></div>
    <div class="slot"><img id="c35" class="car" src="{% static 'images/car2.png' %}"/></div>
    <div class="slot" style="width: 74px;"><img id="c36" class="car" src="{% static 'images/car2.png' %}"/></div>
</div> -->
                        <!-- <div class="slot" style="margin-left: 10px; width: 74px;">
                            <img id="c1" style="margin-left: 0px;" class="car" src="{% static 'images/car.png' %}"/>
                        </div> -->
                        <!-- <div class="slot"><img id="c2" class="car" src="{% static 'images/car.png' %}"/></div>
                        <div class="slot"><img id="c3" class="car" src="{% static 'images/car.png' %}"/></div>
                        <div class="slot"><img id="c4" class="car" src="{% static 'images/car.png' %}"/></div>
                        <div class="slot"><img id="c5" class="car" src="{% static 'images/car.png' %}"/></div>
                        <div class="slot"><img id="c6" class="car" src="{% static 'images/car.png' %}"/></div>
                        <div class="slot"><img id="c7" class="car" src="{% static 'images/car.png' %}"/></div>
                        <div class="slot"><img id="c8" class="car" src="{% static 'images/car.png' %}"/></div>
                        <div class="slot" style="width: 74px;"><img id="c9" class="car" src="{% static 'images/car.png' %}"/></div> -->
